.app-wrapper {
    display: grid;
    background-color: #f4f4f4;
    height: 100vh;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}
.app-wrapper-content {
    grid-area: c;
    background-color: azure;
}
.app-wrapper-content img {
    width:100%;
    height:100%;
}
